<mat-sidenav-container class="mat-toolbar mat-primary">
    <mat-sidenav-content>
        <!-- <a class="link" routerLinkActive="active" routerLink="/dashboard">Dashboard</a> -->
        <a class="link" routerLinkActive="active" routerLink="/library">
            <mat-icon>list</mat-icon>
            Library
        </a>
        <a class="link" routerLinkActive="active" routerLink="/add">
            <mat-icon>get_app</mat-icon>
            Add
        </a>
        <a class="link" routerLinkActive="active" routerLink="/settings">
            <mat-icon>settings_applications</mat-icon>
            Settings
        </a>
    </mat-sidenav-content>
</mat-sidenav-container>